.form-login {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    border:  1px solid #dfdfdf;
    padding: 40px;
    margin: auto;
    width: 300px;
}